*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

nav a:hover {
  color: white;
}

header {
  background: #c7002b;
  top: 0;
  z-index: 999;
  width: 100%;
  position: relative;
  margin-bottom: 3em;
}

.logo {
  padding: 0 1.1em;
  padding-top: 0.2em;
}

.logo img {
  width: 65px;
}

nav {
  position: absolute;
  text-align: right;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;

  background: #c7002b;
  width: 100%;
  left: 0;
  z-index: 3;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 1em;
  margin-top: 1em;
}

nav li {
  margin-bottom: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  align-items: center;
  display: flex;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1000px) {
  .nav-toggle-label {
    display: none;
  }
  nav {
    all: unset;
    position: relative;
    transform: scale(1, 1);
    width: 100%;
  }

  nav a {
    opacity: 1;
  }

  .nav-1 {
    margin-left: 60%;
  }

  header {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav li {
    margin-left: 3em;
  }

  .nav-4 {
    border: white 1px solid;
    background: white;
    border-radius: 1em;
    padding: 0 1em;
  }
}
