body {
  background: url(../assets/5.png);
}

.content {
  width: 33%;
}

.r {
  margin-left: 65%;
}
.l {
  margin-left: 2%;
}
.circle::before {
  content: "";
  position: absolute;
  height: 180px;
  width: 180px;
  background-color: black;
  border-radius: 50%;
  border: 4px white solid;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.z::before {
  content: "";
  background: url(../assets/11.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.a::before {
  content: "";
  background: url(../assets/22.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.b::before {
  content: "";
  background: url(../assets/33.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.c::before {
  content: "";
  background: url(../assets/44.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.d::before {
  content: "";
  background: url(../assets/55.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.e::before {
  content: "";
  background: url(../assets/66.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.circle::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 4px;
  height: 80vh;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.e::after {
  content: "";
  position: absolute;
  background-color: darkcyan;
  height: 0vh;
  width: 4px;

  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.circle {
}

.circle:not(.z) {
  margin-top: 7em;
}

@media screen and (max-width: 600px) {
  .r {
    margin-left: 68%;
  }
}
